# $HOME/.gitconfig
[include]
    path = .config/git/git.gitconfig
    path = .config/git/aliases.gitconfig
    path = .config/git/github.gitconfig
    path = .config/git/tools.gitconfig
    path = .local/local-machine.gitconfig # contains [user]/[gpg]F configs
