configuration {
	/*---------- General setting ----------*/
	case-sensitive: false;
	click-to-exit: true;
	cycle: true;
	filter: "";
	font: "IBM Plex Mono 12";
	icon-theme: "Papirus";
	modi: "drun,window,filebrowser,keys";
	normalize-match: true;
	scroll-method: 0;
	show-icons: true;
	steal-focus: false;

	/*---------- Matching setting ----------*/
	matching: "fuzzy";
	tokenize: true;

	/*---------- History and Sorting ----------*/
	disable-history: false;
	max-history-size: 25;
	sorting-method: "fzf";

	/*---------- Display setting ----------*/
	display-combi: "🏃🏽‍♂️🗿";
	display-drun: "🏃🏽‍♂️";
	display-filebrowser: "🗃️";
	display-keys: "Keybindings:";
	display-run: "🏃🏽‍♂️";
	display-ssh: "SSH:";
    display-window: "🗿";
	display-windowcd: "Window CD:";

	/*---------- Misc setting ----------*/
	drun-display-format: "{name}";
	sort: true;
	terminal: "rofi-sensible-terminal";
	threads: 0;
	window-format: "{n} {t}";

	/*---------- File browser settings ----------*/
    filebrowser {
      directories-first: true;
      sorting-method:    "name";
	  show-hidden: true;
    }

	/*---------- Other settings ----------*/
    timeout {
      action: "kb-cancel";
      delay:  0;
    }

	/*---------- Keybindings ----------*/
	/* to get keycodes, run `xmodmap -pke` | less */
	kb-accept-entry: "Control+m,Return,KP_Enter";
	kb-clear-line: "";
	kb-delete-entry: "Shift+Delete,Control+w";
	kb-remove-char-back: "BackSpace";
	kb-remove-to-eol: "Alt+k";

	kb-row-up: "Up,Control+p,Control+k";
 	kb-row-down: "Down,Control+n,Control+j";
	kb-row-left: "Control+h";
	kb-row-right: "Control+l";

	kb-mode-complete: "";
	kb-mode-next: "Control+Tab,Control+greater";
	kb-mode-previous: "Control+ISO_Left_Tab,Control+less";
}
